.thumbnails-gallery {
    padding: 2em;
    list-style-type: none;
    box-shadow: 0 0 10em rgba(0, 0 , 0, 0.7) inset;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.thumbnail {
    padding: 1em 1em;
}

.thumbnail img {
    cursor: pointer;
}

.slide-player {
    display: none;
}